{% extends 'index.html' %}

{% block head %}
<title>Students Tests</title> 
{% endblock %}

{% block body %}

<form method="POST">

    <div class="p-3 col-md-12 text-center">
        <h4>Create test</h4>
    </div>
    
    <div class=" col-md-7 offset-md-2">
        <h5>Test name</h5>
    </div>

    <div class="col-xs-7 col-md-7 offset-md-2">
        <div class="input-group mb-3 ">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-file-earmark"></i></span>
            </div>
            <input type="text" class="form-control" name="test_name" placeholder="Multiplication">
        </div>
    </div>

    <div class="p-3 col-xs-12 col-md-3 text-center offset-md-2">
        <button class="btn btn-primary btn-block" type="submit">
            <i class="bi bi-box-arrow-in-right"></i> Create test</button>
    </div>
 
</form>

{% endblock %}