{% extends 'index.html' %}

{% block head %}
<title>Students Tests</title> 
{% endblock %}

{% block body %}

<form action = "/groups/current-group" method="POST">
    <div class="p-3 col-md-12 col-xs-12 text-center">
        <h3>{{ group_name }}</h4>
    </div>
    
    <div class="row">
      <div class="col-md-3 text-center">

            <table class="table table-bordered table-light">

                <thead>

                  <tr>
                    
                    <th scope="col" class="text-center bi bi-people">Members</th>
                    <th scope="col" class="text-center bi bi-tools">Action</th>
                    
                  </tr>

                </thead>

                <tbody>
                  
                  {% for member in members %}

                    <tr>

                      <td class="col-md-8 col-sm-7 col-7 text-center">{{ member['name'] }}

                        {% if current_user.id == member['user_id'] %}
                        (You)
                          <td class="col-md-8 col-sm-7 col-7 text-center">

                            <a class="btn btn-danger bi bi-x-circle-fill" href="/groups/leave-group/{{ current_user.id }}/"></a>
                          
                          </td>
                        {% elif admin == True %}
                          <td class="col-md-8 col-sm-7 col-7 text-center">

                            <a class="btn btn-danger bi bi-person-dash-fill" href="/groups/kick-person/{{ member['user_id'] }}/"></a>
                          
                          </td>
                        {% endif %}

                      </td>

                    </tr>

                  {% endfor %}

                </tbody>
                {% if invites != [] %}
                <thead>

                  <tr>  
                    
                    <th scope="col" class="text-center bi bi-envelope-paper">Invited memeber</th>
                    <th scope="col" class="text-center bi bi-tools">Action</th>

                  </tr>

                </thead>

                <tbody>
                  
                  {% for invite in invites %}

                    <tr>

                      <td class="col-md-8 text-center">{{ invite['name'] }}</td>
                        {% if admin == True %}
                        <td> 
                          <a class="btn btn-danger bi bi-x-circle-fill" 
                            href="/groups/kick-person/{{ invite['user_id']}}/"></a>
                        </td>
                           
                        {% endif %}
                      

                    </tr>

                  {% endfor %}

                </tbody>
                {% endif %}
            </table>

        </div>
        
        <div class="col-md-9 text-center">

            {% if tests != [] %}

            <table class="table table-bordered table-light">

                <thead>

                  <tr>

                    <th scope="col" class="text-center bi bi-card-checklist">Test name</th>
                    <th scope="col" class="text-center bi bi-tools">Actions</th>
                    
                  </tr>

                </thead>

                <tbody>

                  {% for test in tests %}
                  <tr>

                    <td class="col-md-8 text-center">{{ test[1] }}</td>
                    <td class="text-center">
                        <a class="btn btn-success bi bi-box-arrow-in-right" 
                        href="/tests/sessions-start-test/{{ test['test_id'] }}/"> Start</a>
                        <a class="btn btn-primary bi bi-pencil-fill" 
                        href="/tests/sessions-edit-test/{{test['test_id']}}/"> Edit</a>

                        {% if admin == True %}

                          <a class="btn btn-danger bi-file-earmark-x" 
                          href="/tests/sessions-delete-questions/{{ test['test_id'] }}"> Delete</a>

                        {% endif%}

                    </td>


                  </tr>
                  
                  {% endfor %}

                </tbody>

            </table>

            {% else %}
                <div class="row offset-md-6">
                  <i class="bi bi-file-earmark"></i>
                  <span><h4>No tests</h4> </span>
                </div>

                <div class="row offset-md-6">
                  <a class="btn btn-primary bi-file-earmark-plus" href="/tests/create-test">Create test</a>
                </div>
                
            {% endif %}

        </div>

    </div>

</form>

{% endblock %}