{% extends 'index.html' %}

{% block head %}
<title>Students Tests</title>
{% endblock %}

{% block body %}



    <div class="p-3 col-md-12 text-center">
        <h4>Groups Menu</h4>
    </div>
    <form action = "/groups/leave-group/" method="DELETE">
    <div class="row">
        
        <div class="col-md-6 text-center">

          {% if groups != [] %}
          
            <div class="row offset-md-4 offset-4">
              <i class="bi bi-collection"></i>
              <span><h5> Your groups</h5> </span>
            </div>

            <table class="table table-bordered table-light">
                <thead>
                  <tr>

                    <th scope="col" class="text-center bi bi-tag">Group name</th>
                    <th scope="col" class="text-center bi bi-tools">Actions</th>
                    
                  </tr>
                </thead>

                <tbody>
                  {% for group in groups %}
                  <tr>

                    <td class="col-md-8 text-center">{{ group['group_name'] }}</td>
                    <td class="text-center"><a class="btn btn-success bi bi-box-arrow-in-right" test-id="go-to" 
                      href="/groups/group/{{ group['group_id'] }}"> Go</a>
                        <a class="btn btn-danger bi bi-trash"
                         href="/groups/deleting-group/{{ group['group_id'] }}"> Delete</a></td>


                  </tr>
                  {% endfor %}
                </tbody>
            </table>
            {% else %}
                
              <div class="row offset-md-4 offset-4">

                <i class="bi bi-collection"></i>
                <span><h4>No groups</h4> </span>

              </div>
            {% endif %}

        </div>
      </form>

        <div class="col-md-6 text-center">
          <form method="DELETE"></form>

          {% if invitations != [] %}

          <div class="row offset-md-4 offset-4">

            <i class="bi bi-envelope-paper"></i>
            <span><h5> Groups Invites</h5> </span>
            
          </div>

            <table class="table table-bordered table-light">
                <thead>
                  <tr>

                    <th scope="col" class="text-center bi bi-tag">Group name</th>
                    <th scope="col" class="text-center bi bi-tools">Actions</th>

                  </tr>

                </thead>
                
                <tbody>
                    {% for invite in invitations %}
                    <tr>
  
                      <td class="col-md-8 text-center">{{ invite[1] }}</td>
                      <td class="text-center"><a class="btn btn-primary bi bi-check" 
                        href="/groups/join-group/{{invite[2]}}/{{invite[1]}}/">Acpt</a>
                          <a class="btn btn-danger bi bi-trash" 
                          href="/groups/cancel-invite/{{invite['group_id']}}/">Del</a></td>
  
  
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}

            <div class="row offset-md-4 offset-4">

              <i class="bi bi-envelope-paper"></i>
              <span><h4> No invites</h4> </span>
              
            </div>

            {% endif %}
          </form>
        </div>
      
    </div>


{% endblock %}