*{
   font-family: montserrat;
}
body{
   background-color:#f1fbff;
}
.radio-css{

   margin-top: 10px;
}

.question{

   padding-left: 5px;

}
.navbar-nav .nav-item .nav-link {
    color: black;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: rgb(243, 173, 42);
}
.btn-primary:hover {
  color: black;
  background-color: #04c3ee;
  border-color: #5b288e;
}

.btn-success:hover {
  color: black;
  background-color: #8df015;
  border-color: #0f3d1c;
}

.btn-danger:hover {
   color: black;
   background-color: #f00e0e;
   border-color: #500b28;
 }